#allc{
  width: 50%;
  background: #000;
  position: absolute;
  height: 100%;
  left: -600%;
  overflow: auto;
}
body{
  overflow: hidden;
}
.display{
  display: none;
}

@media (max-width : 550px) {
  #allc{
    width: 65%;
    background: #000;
    position: absolute;
    height: 100%;
    overflow: auto;
    left: -100%;
  }
}